@model GraniteHouse.Models.SpecialTags
@{
    ViewData["Title"] = "Details";
}

<br /><br />
<div class="row">
    <div class="col-12">
        <h2 class="text-info">Special Tag Details</h2>
    </div>
</div>
<br />
<form method="post" asp-action="Detail">
    <div class="p-4 border rounded">
        <div class="form-group row align-items-center">
            <div class="col-3">
                <label asp-for="Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <a asp-action="Edit" asp-controller="SpecialTags" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" asp-controller="SpecialTags" class="btn btn-success">Back To List</a>
        </div>
    </div>
</form>